$primaryColor: rgb(239, 91, 76);
$secondaryColor: rgb(0, 123, 255);

.stickyHeader {
  height: 100%;
  background: white;
  position: sticky;
  top: 0;
  z-index: 9999;
}

.toggleButton {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 24px;
  width: 30px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  box-sizing: border-box;

  &:focus {
    outline: none;
  }

  .toggleButtonLine {
    width: 30px;
    height: 4px;
    border-radius: 1px;
    background: black;
  }
}

.sideDrawer {
  height: 100%;
  background: white;
  box-shadow: 1px 0 7px rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  right: 0;
  width: 40%;
  max-width: 400px;
  z-index: 200;
  transform: translateX(100%);
  transition: transform 0.3s ease-out;
  overflow: auto;

  .logoContainer {
    margin-left: 40px;
    height: 60px;
    display: flex;
  }

  ul {
    list-style: none;
    padding-top: 20px;
    text-align: center;

    li {
      padding-left: 7px;
      padding-bottom: 20px;
    }
  }
}


.sideDrawer.open {
  transform: translateX(0);

  a {
    transition: 0.3s;
    cursor: pointer;
    color: black;

    &:hover {
      color: gray;
      transition: 0.3s
    }
  }
}


.toolbarNavigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0 30px;

  .toolbarNavigationItems {
    ul {
      list-style: none;
      display: flex;
      margin: 0;

      li {
        padding-left: 30px;

        a {
          transition: 0.3s;
          cursor: pointer;
          color: black;

          &:hover {
            color: $primaryColor;
            transition: 0.3s
          }
        }
      }
    }
  }

  .toolbarLogo {
    align-self: center;
  }


}

.backdrop {
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  position: fixed;
  cursor: pointer;

}

@media (min-width: 768px) {
  .toolbarToggleButton {
    display: none;
  }
}

@media (max-width: 768px) {
  .toolbarNavigationItems {
    display: none;
  }

}
